<div class="header sticky-header">
  <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal pure-menu-pull-right">
    <a class="pure-menu-heading" ng-href="#/">Shepherd</a>
    <ul>
      <li>
        <a ng-href="#/">Home</a>
      </li>
      <li>
        <a ng-href="#/create">Make Report</a>
      </li>
      <li>
        <form id="search-form" ng-controller="Search">
          <input id="search-box" name="q" size="10" type="text" ng-model="params.query" placeholder="Name" required/>
          <button id="search-btn" ng-click="navigateToSearch(params)">Search</button>
        </form>
      </li>
  </div>
</div>
