$card-background: #9C6B4C;
$card-padding: 10px;
$card-size: 300px;

.card-animation-enter,
.card-animation-leave,
.card-animation-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

.card-animation-enter {
  left:-10px;
  opacity:0;
}
.card-animation-enter.card-animation-enter-active {
  left:0;
  opacity:1;
}

.card-animation-leave {
  left:0;
  opacity:1;
}
.card-animation-leave.card-animation-leave-active {
  left:-10px;
  opacity:0;
}

.card-animation-move {
  opacity:0.5;
}
.card-animation-move.card-animation-move-active {
  opacity:1;
}

.card {
  background-color: $card-background;
  margin: $card-padding;
  max-width: $card-size;
  overflow: hidden;
}

.card-image {
  padding: $card-padding;
  width: 200px;
  text-align: center;

  img {
    max-height: 200px;
  }
}

.card-placeholder-image {
  height: 200px;
  background-color: black;
}

.card-name,
.card-status,
.card-text {
  text-align: center;
  padding: $card-padding;
}

.card-name {
  font-weight: bold;
  padding-bottom: 0px;
}

.card-text {
  padding-top: 0px;
}

.card-status {
  padding: 2px;
  font-weight: bold;
  text-align: center;
}

.card-missing {
  color: red;
}

.card-found {
  color: green;
}

@media (max-width: 768px) {
  .card {
    margin: 0 auto;
    margin-top: $card-padding;
    margin-bottom: $card-padding;
  }
}

