$card-background: #9C6B4C;
$card-padding: 10px;
$card-size: 300px;

.card {
  background-color: $card-background;
  margin: $card-padding;
  max-width: $card-size;
}

.card-image {
  padding: $card-padding;
}

.card-placeholder-image {
  height: 200px;
  background-color: black;
}

.card-name,
.card-text {
  text-align: center;
  padding: $card-padding;
}

.card-name {
  font-weight: bold;
  padding-bottom: 0px;
}

.card-text {
  padding-top: 0px;
}

@media (max-width: 768px) {
  .card {
    margin: 0 auto;
    margin-top: $card-padding;
    margin-bottom: $card-padding;
  }
}

