@import "header";
@import "card";

$body-max-width: 720px;
$page-background: #FFF0DA;

#app-desc {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}

body {
  background-color: $page-background;
}

.main-view {
  margin: 0 auto;
  max-width: $body-max-width;
}

label {
  font-weight: bold;
}

legend {
  font-size: 30px !important; 
  font-weight: bold;
}

#noone-found {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 26px;
}
